/* Estilos para el encabezado */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0da5dc;
    padding: 20px;
}

h1 {
    color: #3c04ad;
    text-align: center;
    text-decoration: underline;
}
/* Estilos para el icono de WhatsApp móvil */
.whatsapp-icon {
    position:relative;
    /* Posición relativa para que sea relativo al flujo del documento */
    margin-bottom: 20px;
    /* Espacio desde la parte inferior de los contenidos */
}
nav {
    margin-top: 20px;
}

nav a {
    margin: 10px;
}

/* Estilos para el pie de página */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 5px;
}

/* Limitar el ancho máximo del footer */
footer {
    max-width: 100%;
    /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    /* Centra el footer horizontalmente */
}

/* Estilos para las imágenes dentro del footer */
footer img {
    max-width: 20%;
    /* Las imágenes no se expandirán más allá de su tamaño original */
    height: auto;
    /* Mantendrá la relación de aspecto original */
}

.redes-sociales {
    display: flex;
    margin-top: 10px;
}

.redes-sociales a {
    margin: 5px;
}

/* Aplicar flex-wrap al Header y al Footer para que los elementos se coloquen uno debajo del otro en pantallas pequeñas */
@media (max-width: 768px) {

    header,
    footer {
        flex-direction: column;
    }
}